@model List<clashclash.Models.CardModel>

<h2>Cartas :)</h2>
<input type="text" id="searchInput" placeholder="Pesquise" class="barraPesquisa">

<table id="cardTable">
    <thead>
        <tr>
            <th>Escreva uma carta</th>
        </tr>
    </thead>
    <tbody>
            
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><a id="selectCard">@item.Name</a></td>
                    <td><p id="stats">@item.Id</p></td>
                    <td><p id="stats">@item.maxlevel</p></td>
                    <td><p id="stats">@item.maxevolutionlevel</p></td>
                    <td><p id="stats">@item.elixircost</p></td>
                    <td><p id="stats">@item.Rarity</p></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Nenhum card cadastrado</td>
            </tr>
        }

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var tableBody = $('#cardTable tbody');
    var dados = $('#stats');

    var correctId;
    var correctML;
    var correctMEL;
    var correctEC;

    dados.empty();
    tableBody.empty();

    $(document).ready(function () {
        function carregarCardPorId(id) {
            $.ajax({
                url: '@Url.Action("GetCardById", "Card")', // Assumindo que você tem uma ação para buscar o card pelo ID
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    correctId = data.id;
                    correctML = data.maxlevel;
                    correctMEL = data.maxevolutionlevel;
                    correctEC = data.elixircost;

                    console.log(data.name);
                }
            });
        }
        var cardToday = carregarCardPorId(26000000);

        $('#searchInput').on('keyup', function () {
            tableBody.empty();
            var query = $(this).val();

            $.ajax({
                url: '@Url.Action("Search", "Card")',
                type: 'GET',
                data: { query: query },
                success: function (data) {

                    if (data.length > 0) {
                        $.each(data, function (index, item) {
                            
                            var row = `
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                    </tr>
                                </thead>
                                <tr>
                                                    <td><button class="selectCard" data-name="${item.name}" data-id="${item.id}" data-maxlevel="${item.maxlevel}" data-maxevolutionlevel="${item.maxevolutionlevel}" data-elixircost="${item.elixircost}" data-rarity="${item.rarity}" >${item.name}</button></td>
                            </tr>`;
                            tableBody.append(row);
                        });
                    } else {
                        tableBody.append('<tr><td colspan="7">Nenhum card cadastrado</td></tr>');
                    }
              
                }
            });
        });
        $(document).on('click', '.selectCard', function () 
        {
            tableBody.empty();
            var card = $(this);
            var cardId = card.data('id');
            var cardName = card.data('name');
            var cardML = card.data('maxlevel');
            var cardMEL = card.data('maxevolutionlevel');
            var cardElixirCost = card.data('elixircost');
            var cardRarity = card.data('rarity');
            console.log('Nome da carta selecionada: ' + cardName);
            var codigo = `
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Nível Máximo</th>
                                            <th>Nível Máximo de Evolução</th>
                                            <th>Custo de Elixir</th>
                                            <th>Raridade</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tr>
                                    <td><p>${cardName}</p></td>
                                    <td><p>${cardML}</p></td>
                                    <td><p>${cardMEL}</p></td>
                                    <td><p>${cardElixirCost}</p></td>
                                    <td><p>${cardRarity}</p></td>
                                </tr>`;
            tableBody.append(codigo);

            if (cardId == correctId) 
            {
                console.log("poggers");
                
            }
            if (cardML == correctML) {
                console.log("ml correto");

            }
            if (cardElixirCost == correctEC) {
                console.log("ec correto");

            }
            if (cardMEL == correctMEL) {
                console.log("mel correto");

            }
        });
    });
</script>
